/bbva/.project
/bbva/.settings
/bbva/target
/bbva/.classpath
/api/.classpath
/api/.project
/api/.settings
/api/target
/adyen/.classpath
/adyen/.project
/adyen/.settings
/adyen/target
/target
/test/target
/test/.classpath
/test/.project
/test/.settings
